<!DOCTYPE html>
<html>
    <head>
        <title>Universe</title>
        <link rel="shortcut icon" type="image/x-icon" href="/images/logo.png" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/show.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="contain">
                <h1><%= stars.name %></h1>
                <h3><%= stars.distance %></h3>
                <p><%= stars.description %></p>
                <% if(currentUser){ %>
                <a class="btn btn-info" href="/stars/<%= stars._id %>/edit">Edit</a>
                <form class="deleteForm" action="/stars/<%= stars._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <% } %>
                <p class="backLink">
                    <a href="/stars">Go Back</a>
                </p>
            </div>
        </div>
    </div>


    <div class="backgroundImg">
        <img src="<%= stars.image %>">
    </div>

<% include partials/footer %>
